{% extends 'DdrGitkiBundle::scaffold.html.twig' %}
{% block body %}
    <header>
        {% block navbar %}
            {{ include('DdrGitkiBundle::navbar.partial.html.twig') }}
        {% endblock navbar %}
    </header>
    {% block abovecontainer %}
    {% endblock abovecontainer %}
    <div id="content" class="container">
        {% block container %}{% endblock container %}
    </div>
{% endblock %}