{% extends 'DdrGitkiBundle::scaffold.html.twig' %}
{% block body %}
    {% block navbar %}
        {{ include('DdrGitkiBundle:Navbar:navbar.partial.html.twig') }}
    {% endblock navbar %}
    {% block header %}
    {% endblock header %}
    {% block main %}
        <div id="main" class="container">
            {% block main_content %}{% endblock main_content %}
        </div>
    {% endblock main %}
    {% block modals %}
    {% endblock modals %}
{% endblock %}
