{% extends 'DdrGitkiBundle::base.html.twig' %}
{% block ddr_gitki_title %} - {{ path }}{% endblock ddr_gitki_title %}
{% block ddr_gitki_body_class %}wiki{% endblock ddr_gitki_body_class %}
{% block ddr_gitki_header %}
    <header>
        {% block ddr_gitki_header_content %}
            {% if ddr_gitki_show_breadcrumbs %}
                <div class="action-bar">
                    <div class="container">
                        {% block ddr_gitki_actions %}
                        {% endblock ddr_gitki_actions %}
                        {{ include('DdrGitkiBundle::breadcrumb.partial.html.twig', {'path' : path}) }}
                    </div>
                </div>
            {% endif %}
        {% endblock ddr_gitki_header_content %}
    </header>
{% endblock ddr_gitki_header %}
