<p>Через данную форму вы можете предложить аннотацию {{ text_title }}. Если вы просто хотите, чтобы оставить комментарий о книге - <a href="COMMENTURL">коммнтарии</a>.</p>
<p><strong>Если вы скопировали аннотации необходимо указать точный источник!</strong></p>
