<fieldset id="legend">
<legend>Цветовая легенда</legend>
<ul class="titles">
	<li class="title t-shortstory"><a>Рассказ, новелла</a> — короткое произведение</li>
	<li class="title t-novella"><a>Повесть</a> — среднее произведение</li>
	<li class="title t-novel"><a>Роман</a> — длинное произведение</li>
	<li class="title t-poetry"><a>Поезия</a> — поэзия</li>
	<li class="title t-tale"><a>Приказка, басня</a></li>
	<li class="title t-othergenre"><a>Другое</a> — другой тип произведения, напрИмяр <em>эссе</em>, <em>пьеса</em>, <em>статья</em></li>
</ul>
</fieldset>
