<ul>
	<li><a href="{{ path('wiki', {page: 'about'}) }}">В библиотеку</a></li>
	<li><a href="{{ path('wiki', {page: 'rules'}) }}">Правила</a></li>
	<li><a href="{{ path('wiki', {page: 'faq'}) }}">Вопросы и ответы</a></li>
	<li><a href="{{ path('feedback') }}" title="Связь с администратором">Связь с администратором</a></li>
</ul>
