<div id="jump-to" class="sr-only">
<p>Перейти к:</p>
<ul>
	<li id="jump-to-content"><a href="#main-content">основное содержание</a></li>
	<li id="jump-to-navigation"><a href="#navigation">меню</a></li>
	<li id="jump-to-search"><a href="#search">поиск</a></li>
</ul>
</div>
