<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <a class="navbar-brand" href="{{ path('homepage') }}">Teralit.ru</a>
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Каталог</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Форум</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Словарь</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">О сайте</a>
      </li>
    </ul>
  
  <form class="form-inline pull-sm-right  pull-xs-center">
    <input class="form-control" type="text" placeholder="Поиск">
    <button class="btn btn-success-outline hidden-sm-down" type="submit">Поиск</button>
  </form>
  </div>
</nav>
