<nav id="project-links" class="navbar navbar-default project-links" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#project-links-navbar">
			<span class="sr-only">Показать ссылки на проект</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>

	<div class="collapse navbar-collapse" id="project-links-navbar">
		<ul class="nav nav-justified">
			<li id="project-main" class="active"><a href="http://bookshelf.local">Библиотека</a></li>
			<li id="project-forum"><a href="http://forum.bookshelf.local">Форум</a></li>
			
			<li id="project-rechnik"><a href="http://rechnik.bookshelf.local">Словарь</a></li>
			<li id="project-gramofonche"><a href="http://gramofonche.bookshelf.local">Грамматика</a></li>
			<li id="project-tools"><a href="http://tools.bookshelf.local">Инструменты</a></li>
		</ul>
	</div>
</nav>
