{% extends 'DdrGitkiBundle::browse.html.twig' %}
{% block ddr_gitki_main_content %}
    <div class="page-header">
        <h1>History</h1>
    </div>
    {{ include('DdrGitkiBundle::history.partial.html.twig') }}
{% endblock ddr_gitki_main_content %}
