{% extends 'App::layout.html.twig' %}

{% set title = 'Книги без обложки' %}
{% block content %}

	<div class="well">Имя {{ pager.total }} книги без обложки.</div>
	{% include 'App:Book:list.html.twig' %}
	{% include 'App::pager.html.twig' %}

{% endblock %}