{% extends 'App::layout.html.twig' %}

{% set title = 'Поиск' ~ (query ? ' на „'~query.text|e~'“' : '') ~ ' в книге' %}
{% block content %}

	{% if books|length %}
		{% include 'App:Book:list.html.twig' %}
	{% endif %}

	{% if not found %}
		<p class="no-items">Мы не нашли ни одной книги.</p>
	{% endif %}

{% endblock %}
