{% extends '@DdrGitki/base.html.twig' %}

{% block ddr_gitki_title %} - {{ path }}{% endblock ddr_gitki_title %}

{% block ddr_gitki_body_class %}wiki{% endblock ddr_gitki_body_class %}

{% block ddr_gitki_header %}
    <header class="ddr-gitki-header">
        {% block ddr_gitki_header_content %}
            <div class="container">
                {% if ddr_gitki_show_breadcrumbs %}
                    {{ include('@DdrGitki/breadcrumb.partial.html.twig', {'path' : path}) }}
                {% endif %}
                {% block ddr_gitki_actions %}
                {% endblock ddr_gitki_actions %}
            </div>
        {% endblock ddr_gitki_header_content %}
    </header>
{% endblock ddr_gitki_header %}
