{% extends '@DdrGitki/base.html.twig' %}

{% block ddr_gitki_main_content %}
    <div class="page-header">
        <h1>History</h1>
    </div>
    {{ include('@DdrGitki/history.partial.html.twig') }}
{% endblock ddr_gitki_main_content %}
