body {
    padding-top: 56px;
}

.list-group-item .ddr-gitki-icon-actions {
    float: left !important;
    margin-right: 10px;
}

.page-header {
    margin-top: 0;
}

a.missing {
    color: #bf0000;
}
