{% extends 'DdrGitkiBundle::browse.html.twig' %}
{% block title %} - {{ path }} - Create File{% endblock %}
{% block main_content %}
    <div class="page-header">
        <h1>Create File</h1>
    </div>
    {{ form(form) }}
{% endblock main_content %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">

        $('#form_title').bind('input propertychange', function () {
            var $this = $(this);
            var parts = $this.val().split(' ');
            var filename = '';
            for (var i = 0; i < parts.length - 1; i++) {
                filename += parts[i].toLowerCase();
                filename += '_';
            }
            filename += parts[parts.length - 1].toLowerCase();
            $('#form_filename').val(filename);
        });

    </script>
{% endblock %}
