{% extends 'DdrGitkiBundle::browse.html.twig' %}
{% block title %} - {{ path }} - Upload File{% endblock %}
{% block main_content %}
    <div class="page-header">
        <h1>Upload File</h1>
    </div>
    {{ form(form) }}
{% endblock main_content %}
