{% extends 'DdrGitkiBundle:File:view.html.twig' %}
{% block main_content %}wiki page show{% endblock body_class %}
{% block content %}
    <p>
        <pre>{{ content }}</pre>
    </p>
{% endblock main_content %}
