{% extends 'DdrGitkiBundle:File:view.html.twig' %}
{% block ddr_gitki_body_class %}wiki page show{% endblock ddr_gitki_body_class %}
{% block ddr_gitki_main_content %}
    <p>
        <pre>{{ content }}</pre>
    </p>
{% endblock ddr_gitki_main_content %}
